<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/atom-one-dark.min.css">
	<script th:src="@{/assets/plugins/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/assets/plugins/popper.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js}"></script>

	<script th:src="@{/assets/js/blog.js}"></script>

	<script th:src="@{/assets/js/demo/style-switcher.js}"></script>
    <link id="theme-style" rel="stylesheet" th:href="@{/assets/css/theme-1.css}">
</head>

<div th:replace="site/head::head(${article.title},${@commons.getGoogleSiteVerification()}, ${@commons.getBaiduSiteVerification()})"></div>

<body>
<main role="main-inner-wrapper" class="container">
	<div class="blog-details">
		<article class="post-details" id="post-details">
			<header role="bog-header" class="bog-header text-center">
				<h3>
					<th:block th:utext="${article.getPublishTime()}"></th:block>
<!--					<th:block th:utext="${article.getReadCount()+' read'}"></th:block>-->
<!--					<th:block th:utext="${article.getCommentCount()+' comments'}"></th:block>-->
				</h3>
				<h2>
					<th:block th:text="${article.title}"></th:block>
				</h2>
			</header>
			<figure>
				<img th:src="@{/site/images/blog-images/blog-details-image.jpg}" alt="" class="img-responsive"/>
			</figure>
			<div id="post-content" class="post-content" itemprop="articleBody">
				<th:block th:utext="${article.getContent()}"></th:block>
			</div>
		</article>
		<!-- Comments -->
		<div th:replace="site/comments::comments"></div>
	</div>
</main>
<div th:replace="site/footer::footer(${@commons.getSiteTitle()},${@commons.getSiteRecord()},${@commons.getSiteUrl()})"></div>
</body>
<div th:replace="comm/tale_comment::tale_comment"></div>
</html>

