<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdk.blog.common.mapper.MetasMapper">

    <!--    在当前mapper.xml中使用二级缓存-->
<!--    <cache-->
<!--            eviction="FIFO"-->
<!--            flushInterval="60000"-->
<!--            size="512"-->
<!--            readOnly="true"/>-->

    <resultMap id="BaseResultMap" type="com.zdk.blog.common.model.Metas">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="slug" jdbcType="VARCHAR" property="slug" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="parent" jdbcType="INTEGER" property="parent" />
    </resultMap>

    <resultMap id="MetaDto" type="com.zdk.blog.common.dto.MetaDTO" extends="BaseResultMap">
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getMetaList" resultMap="MetaDto">
        select a.*,count(b.article_id) as count
        from blog_metas as a
        left join blog_relationships b on a.id = b.meta_id
        where a.type like concat('%',#{type},'%')
        group by a.id;
    </select>
</mapper>
