<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加成功</h1>
<hr>
<!--帖子内容-->
<div class="m-text ui attached padded segment">
    <div class="typo typo-selection">
        <div id="test-editormd-view" >
            <textarea id="append-test" style="display:none;">[[${article.content}]]</textarea>
        </div>
    </div>
</div>

<!--editormd-->
<script th:src="@{/editormd/jquery-3.3.1.min.js}"></script>
<!--editormd-->
<script th:src="@{/editormd/lib/marked.min.js}" ></script>
<script th:src="@{/editormd/lib/prettify.min.js}" ></script>
<script th:src="@{/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/editormd/lib/underscore.min.js}" ></script>
<script th:src="@{/editormd/lib/sequence-diagram.min.js}" ></script>
<script th:src="@{/editormd/lib/flowchart.min.js}" ></script>
<script th:src="@{/editormd/lib/jquery.flowchart.min.js}" ></script>
<script th:src="@{/editormd/editormd.js}"></script>

<script type="text/javascript">
    /*editormd*/
    $(function () {
        editormd.markdownToHTML("test-editormd-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            codeFold: true
        });
    })
</script>
</body>
</html>
