<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>富文本编辑器初体验</title>-->
<!--    <meta name="renderer" content="webkit">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>-->
<!--    &lt;!&ndash;Editor.md&ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/static/assets/plugins/bootstrap/css/bootstrap.css}"/>-->
<!--    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>-->
<!--</head>-->
<!--&lt;!&ndash;写博客页面&ndash;&gt;-->
<!--<body>-->
<!--<h1 style="text-align: center">EditorMd 富文本编辑器初体验</h1>-->
<!--<div class="panel panel-default" style="width: 90%;margin: auto;">-->
<!--    <div class="panel-body">-->
<!--        &lt;!&ndash;博客表单&ndash;&gt;-->
<!--        <form name="mdEditorForm" id="mdEditorForm" onsubmit="return false">-->
<!--            &lt;!&ndash; 文章的标题 &ndash;&gt;-->
<!--            <div class="input-group input-group-lg">-->
<!--                <span class="input-group-addon" id="sizing-addon1">标题</span>-->
<!--                <input type="text" class="form-control" placeholder="请输入标题" aria-describedby="sizing-addon1" name="title" autocomplete="off" required>-->
<!--            </div>-->
<!--            <br>-->
<!--            &lt;!&ndash; 文章的作者 &ndash;&gt;-->
<!--            <div class="input-group input-group-lg ">-->
<!--                <button type="submit" onclick="submitBlog()" class="btn btn-success submit_button">发布</button>-->
<!--            </div>-->
<!--            <br>-->
<!--            &lt;!&ndash; 文章的主体内容 textarea &ndash;&gt;-->
<!--            &lt;!&ndash;富文本编辑器以 id="article-content" 为定位点 &ndash;&gt;-->
<!--            <div id="article-content">-->
<!--                <textarea name="text" id="text" style="display:none;"> </textarea>-->
<!--                &lt;!&ndash; 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 &ndash;&gt;-->
<!--                <textarea id="content" class="editormd-html-textarea" name="content"></textarea>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<!--editormd-->
<!--<script th:src="@{/editormd/jquery-3.3.1.min.js}"></script>-->
<!--<script th:src="@{/editormd/editormd.js}"></script>-->
<!--&lt;!&ndash;<script src="../js/katex.min.js"></script>&ndash;&gt;-->
<!--<script th:src="@{/editormd/lib/marked.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/prettify.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/raphael.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/underscore.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/sequence-diagram.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/flowchart.min.js}"></script>-->
<!--<script th:src="@{/editormd/lib/jquery.flowchart.min.js}"></script>-->


<!--<script type="text/javascript">-->
<!--    var testEditor;-->
<!--    $(function () {-->
<!--        //这是一个最简单的Editormd配置，往后我们要修改Editormd的-->
<!--        //功能或者样式，就改这里的配置就可以了-->
<!--        testEditor = editormd("article-content", {-->
<!--            width: "100%",    // 设置富文本编辑框的宽度-->
<!--            height: 500,-->
<!--            searchReplace: true,-->
<!--            crossDomainUpload: true,-->
<!--            syncScrolling: "single",-->
<!--            path: "/editormd/lib/",-->
<!--            // 自定义的增强配置！-->
<!--            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea-->
<!--            htmlDecode: "style,script,iframe|on*",-->
<!--            emoji: true, // 开启表情的功能！ 图片的本地配置！-->
<!--            taskList: true,-->
<!--            theme: "light",//工具栏主题-->
<!--            // previewTheme: "dark",//预览主题-->
<!--            // editorTheme: "pastel-on-dark",//编辑主题-->
<!--            // markdown的配置！-->
<!--            markdown:'',-->
<!--            codeFold:true,-->
<!--            tocm:true,-->
<!--            tex: true,                   // 开启科学公式TeX语言支持，默认关闭-->
<!--            flowChart: true,             // 开启流程图支持，默认关闭-->
<!--            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,-->
<!--            //图片上传-->
<!--            imageUpload: true,-->
<!--            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],-->
<!--            imageUploadURL: "/article/file/upload/", // 文件上传的处理请求！-->
<!--            onload: function () {-->
<!--            },-->
<!--            /*指定需要显示的功能按钮*/-->
<!--            toolbarIcons: function () {-->
<!--                return ["undo", "redo", "|",-->
<!--                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",-->
<!--                    // "h1","h2","h3","h4","h5","h6","|",-->
<!--                    "list-ul", "list-ol", "hr", "|",-->
<!--                    "link", "reference-link", "image", "code", "preformatted-text",-->
<!--                    "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",-->
<!--                    "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",-->
<!--                    //"help","info",-->
<!--                    "releaseIcon", "index"]-->
<!--            },-->
<!--            // 这里的自定义功能就好比，Vue 组件-->

<!--            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/-->
<!--            toolbarIconTexts: {-->
<!--                releaseIcon: "<span bgcolor=\"gray\">发布</span>",-->
<!--                index: "<span bgcolor=\"red\">返回首页</span>",-->
<!--            },-->

<!--            /*给自定义按钮指定回调函数*/-->
<!--            toolbarHandlers: {-->
<!--                releaseIcon: function (cm, icon, cursor, selection) {-->
<!--                    //表单提交-->
<!--                    // mdEditorForm.method = "post";-->
<!--                    // mdEditorForm.action = "/article/addArticle";//提交至服务器的路径-->
<!--                    // mdEditorForm.submit();-->
<!--                },-->
<!--                index: function () {-->
<!--                    window.location.href = '/user/toIndex';-->
<!--                },-->
<!--            },-->
<!--         });-->

<!--        //读取剪切板-->
<!--        $("#article-content").on('paste', function (ev) {-->
<!--            var topicCode = $("#topicCode").val();-->
<!--            //详细可查看clipboardData属性的使用方式-->
<!--            var data = (ev.clipboardData || ev.originalEvent.clipboardData);-->
<!--            var items1 = data.items;-->
<!--            console.log(items1);//输出 DataTransferItem对象-->
<!--            var imageFile;-->
<!--            for(var index in items1){-->
<!--                var item = items1[index];-->
<!--                //如果kind是file，可以用getAsFile()方法获取到文件-->
<!--                if (item.kind === 'file') {-->
<!--                    imageFile = item.getAsFile();-->
<!--                    console.log('获取到剪贴板的文件' + item.kind);-->
<!--                    break;-->
<!--                }else if(item.kind === 'string'){-->
<!--                    console.log('获取到剪贴板的字符串' + item.kind);-->
<!--                }-->
<!--            }-->

<!--            //执行上传-->
<!--            uploadTrigger(imageFile,topicCode);-->
<!--        });-->

<!--        //执行上传-->
<!--        function uploadTrigger(imageFile,topicCode){-->
<!--            //topicCode为文章代码，需要在关联图片，从而实现预览时准确加载到图片-->
<!--            var url = "/article/file/upload/MdFile.json?topicCode="+topicCode;-->
<!--            var formData = new FormData();-->
<!--            formData.append("file", imageFile);-->
<!--            $.ajax({-->
<!--                url: url,-->
<!--                type: "post",-->
<!--                data: formData,-->
<!--                //关闭序列化-->
<!--                processData: false,-->
<!--                contentType: false,-->
<!--                success: function (data) {-->
<!--                    //data为后台返回的retMap数据-->
<!--                    if(data.code === 200){-->
<!--                        //向markdown区域插入该格式的值，从而实现图片在右侧显示-->
<!--                        testEditor.insertValue("\n![" + data.file + "](" + data.path + ")");-->
<!--                    } else {-->
<!--                        console.log(data.msg);-->
<!--                    }-->
<!--                },-->
<!--                error : function(data){-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    });-->


<!--    function submitBlog() {-->
<!--        $.ajax({-->
<!--            url: "/article/addArticle",-->
<!--            type:"post",-->
<!--            data:$('#mdEditorForm').serialize(),-->
<!--            success:function (data) {-->
<!--                console.log("data",data)-->
<!--                if(data.code===200){-->
<!--                    alert(data.msg);-->
<!--                    window.location.href='/user/toIndex';-->
<!--                }else{-->
<!--                    alert(data.msg);-->
<!--                }-->
<!--            },-->
<!--            error:function () {-->
<!--                alert("发布失败");-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Asciidoctor 1.5.6.1">
    <title>md在线编辑</title>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/plugins/bootstrap/css/bootstrap.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.min.css}" />
    <script th:src="@{/editor/jquery-3.3.1.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/editor/src/editormd.js}"></script>
</head>
<body>
    <div class="panel-body">
        <!--博客表单-->
        <form name="mdEditorForm" id="mdEditorForm" onsubmit="return false">
            <!-- 文章的标题 -->
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">标题</span>
                <input type="text" class="form-control" placeholder="请输入标题" aria-describedby="sizing-addon1" name="title" autocomplete="off" required>
            </div>
            <br>
            <div class="input-group input-group-lg ">
                <button type="submit" onclick="submitBlog()" class="btn btn-success submit_button">发布</button>
            </div>
            <br>
            <!-- 文章的主体内容 textarea -->
            <!--富文本编辑器以 id="article-content" 为定位点 -->
            <div id="article-content">
                <textarea class="editormd-markdown-textarea" name="text"></textarea>
                <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                <textarea class="editormd-html-textarea" name="content"></textarea>
            </div>
        </form>
    </div>
<script th:src="@{/editor/plugins/image-handle-paste/image-handle-paste.js}"></script>
<script th:src="@{/editor/jquery-3.3.1.min.js}"></script>
<script th:src="@{/editor/editormd.js}"></script>
<script th:src="@{/editor/lib/marked.min.js}"></script>
<script th:src="@{/editor/lib/prettify.min.js}"></script>
<script th:src="@{/editor/lib/raphael.min.js}"></script>
<script th:src="@{/editor/lib/underscore.min.js}"></script>
<script th:src="@{/editor/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/editor/lib/flowchart.min.js}"></script>
<script th:src="@{/editor/lib/jquery.flowchart.min.js}"></script>
<script type="text/javascript">
    function submitBlog() {
        $.ajax({
            url: "/article/addArticle",
            type:"post",
            data:$('#mdEditorForm').serialize(),
            success:function (data) {
                console.log("data",data)
                if(data.code===200){
                    alert(data.msg);
                    window.location.href='/user/toIndex';
                }else{
                    alert(data.msg);
                }
            },
            error:function () {
                alert("发布失败");
            }
        })
    }
    $(function() {
        var testEditor;
        testEditor = editormd("article-content", {
            placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/editor/lib/",   //就是editor的lib目录
            saveHTMLToTextarea: true,
            emoji: false,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            imageUpload: true,     //开启图片上传
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/article/file/upload", //上传的路径，就是mvc的controller路径
            toolbarIcons: function () {
                return ["undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    // "h1","h2","h3","h4","h5","h6","|",
                    "list-ul", "list-ol", "hr", "|",
                    "link", "reference-link", "image", "code", "preformatted-text",
                    "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                    "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                    //"help","info",
                    "releaseIcon", "index"]
            },
            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts: {
                releaseIcon: "<span bgcolor=\"gray\">发布</span>",
                index: "<span bgcolor=\"red\">返回首页</span>",
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers: {
                releaseIcon: function (cm, icon, cursor, selection) {
                    //表单提交
                    // mdEditorForm.method = "post";
                    // mdEditorForm.action = "/article/addArticle";//提交至服务器的路径
                    // mdEditorForm.submit();
                },
                index: function () {
                    window.location.href = '/user/toIndex';
                },
            },
        });
        testEditor.imagePaste();
    });
</script>
</body>
</html>
